/* General */
body { padding-bottom: 40px; }

dt, dd { margin-top: 1em; }

p.important {
	font-size: 1.2em;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1); 
}

/* Wide footer with outter shadow (up) */
footer {
	padding-top: 40px;
	margin-left: -15px;
	margin-right: -15px;
	-webkit-box-shadow: 0px -6px 13px -4px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px -6px 13px -4px rgba(0,0,0,0.41);
	box-shadow: 0px -6px 13px -4px rgba(0,0,0,0.41);
}

/* Button to go back to top */
#btn-up {
	position: fixed;
	right: -155px;
	top: 100px;
	padding: 40px 54px 40px 20px;
	background-color: rgba(211, 125, 72, 0.4);
	border-radius: 100px;
	text-decoration: none;
	font-weight: bolder;
	color: #FFF;
	z-index: 9999;
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-left: -15px;
  margin-right: -15px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption { z-index: 10; }

.carousel-caption p { 
	padding: 1em 0; 
	margin-bottom: 20px;
	font-size: 1.2em;
	line-height: 1.4;
}

/* Highlight the content text */
.carousel p.content {
	background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.egsa-logo {
	width: 100%;
	margin-top:3em;
}

/* Override nav links color */
.navbar-inverse .navbar-nav > li > a { color: #CCC !important; }

/* Change rows height and style*/
.row {
	min-height: 500px;
	padding-top: 40px;
	padding-bottom: 40px;
	-webkit-box-shadow: inset 0px 1px 10px -4px rgba(0,0,0,0.41);
	-moz-box-shadow: inset 0px 1px 10px -4px rgba(0,0,0,0.41);
	box-shadow: inset 0px 1px 10px -4px rgba(0,0,0,0.41);
}

.row-small {
	min-height: 250px !important;
}

/* Row colors */
.row-lightblue { background-color: rgba(36, 143, 159, 1);}

.row-orange { background-color: rgba(225, 176, 72, 1); }

.row-green { background-color: rgba(11, 190, 132, 1); }

.inverse { color: #FFF; } 

.inverse a:link, .inverse a:active { color: #FFE4BA; }

.inverse a:hover, .inverse a:visited { color: #FFBE57; }

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	body { font-size: 16px; }
	footer { font-size: 0.8em; }
	h1 { font-size: 2em; }
	p.important, .carousel-caption p  { font-size: 1em; }
}


/* FANCY STUFF (Animations)
-------------------------------------------------- */

/* Megaman 8-bit standing */
.megaman-standing {
	width: 128px;
	height: 128px;
	background-image: url("../img/megaman-8bit-sequence.png");

	-webkit-animation: play .8s steps(3) infinite;
	-moz-animation: play .8s steps(3) infinite;
	-ms-animation: play .8s steps(3) infinite;
	-o-animation: play .8s steps(3) infinite;
	animation: play .8s steps(3) infinite;
}

@-webkit-keyframes play {
	from { background-position: 0px; }
	to { background-position: -384px; }
}

@-moz-keyframes play {
	from { background-position: 0px; }
	to { background-position: -384px; }
}

@-ms-keyframes play {
	from { background-position: 0px; }
	to { background-position: -384px; }
}

@-o-keyframes play {
	from { background-position: 0px; }
	to { background-position: -384px; }
}

@keyframes play {
	from { background-position: 0px; }
	to { background-position: -384px; }
}