<html>
	<header>
		<title>{% if page.title %} {{ page.title }} | {% endif %} EGSA:EPIC_GROOVESHARK_ASSEMBLY</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="EGSA Epic Grooveshark Assembly Webpage">
	    <meta name="author" content="Deku <github.com/Deku>">

	    <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap.min.css">
	    <link rel="stylesheet" href="{{site.baseurl}}css/egsa-custom.css">
	</header>
	<body>
		<header>
			<!-- Navigation bar
		    ================================================== -->
			<div class="navbar-wrapper">
			  <div class="container">
			    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			      <div class="container">
			        <div class="navbar-header">
			          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
			          <a class="navbar-brand" href="#"></a>
			        </div>
			        <div class="navbar-collapse collapse">
			          <ul class="nav navbar-nav">
			            <li><a href="{{site.baseurl}}index.html#">Home</a></li>
			            <li><a href="{{site.baseurl}}index.html#about">Who?</a></li>
			            <li><a href="{{site.baseurl}}index.html#contact">Contact</a></li>
			            <li><a href="{{site.baseurl}}blog/index.html">Blog</a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- Fancy go-to-top button -->
			<a id="btn-up">UP!&nbsp;</a>
		</header>

		<!-- Page Content
		================================================== -->
		<div class="container-fluid" style="padding-top:50px;" role="main"> <!-- Correction due to floating navbar -->

			{{ content }}

		</div>
		<!-- End of Page Content
		================================================== -->

		<footer>
			<div class="col-md-8 col-md-offset-2">
				<p class="pull-right"><a href="#">Back to top</a></p>
		        <p>
		        	&copy; 2014 Epic Grooveshark Assembly &middot; <strong>pls no copy pasterino</strong>
		        	<br/>
		        	<a href="http://creativecommons.org/licenses/by/3.0/">CC Licence 3.0</a>
		        	<br/>
		        	<a href="http://glyphicons.com/">Glyphicons</a>
		        </p>
	        </div>
		</footer>

		<!-- SCRIPTS SECTION ===================== -->
		<script type="text/javascript" src="{{site.baseurl}}js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}js/bootstrap.min.js"></script>
		<script type="text/javascript">
			/*
			** THE MIGHTY UP! BUTTON
			*/
			$(document).ready(function() {
		      $(window).scroll(function() {
		          if($(this).scrollTop() > 100){
		              $('#btn-up').stop().animate({
		                  right: '-55px'    
		                  }, 500);
		          } else {
		              $('#btn-up').stop().animate({
		                 right: '-155px'    
		              }, 500);
		          }
		      });
		      $('#btn-up').click(function() {
		          $('html, body').stop().animate({
		             scrollTop: 0
		          }, 500, function() {
		             $('#btn-up').stop().animate({
		                 right: '-155px'    
		             }, 500);
		          });
		      });
		    });
		</script>
	</body>
</html>